.search-form {
  margin: 0;
}

.search-form__search-input {
  display: none;
}

.search-form__button {
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  background-image: url("../../img/icons/stack.svg#search-icon");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
