html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-family: $main-font;
  font-weight: normal;
  font-style: normal;
  color: $main-font-color;
  font-feature-settings: "pnum" on, "lnum" on;
  background-color: $base-grey;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
